.collapsible {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active {
    background-color: rgba(158, 158, 158, .2) !important;
}

.content {
    padding: 0 5px;
    display: none;
    overflow: hidden;
}

.form {
    margin: 15px;
}